################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
.vs

# Local NuGet packages and config
.nuget-local/
NuGet.Config